.chatBubble {
    position: relative;
    background: #c2faff;
    border-radius: 0.4em;
}

.chatBubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 17px solid transparent;
    border-bottom-color: #c2faff;
    border-top: 0;
    margin-left: -17px;
    margin-top: -17px;
}
